<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Casa do Código</title>
    </head>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" name="titulo" placeholder="Informe um Titulo" value="">

                <label for="preco">Preço:</label>
                <input type="text" id="preco" name="preco" placeholder="Informe um Preço" value="">

                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Informe uma Descrição" value=""></textarea>

                <input type="submit" value="Gravar">
            </div>
        </form>
    </body>
</html>
