<html>
    <body>
        Listando os produtos da loja!
        <table border="1">
            <tr>
                <td>id</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Livro de Node</td>
            </tr>
        </table>
    </body>
</html>
